/* RightSideMenu.module.css */
.slide-in-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.invite:hover  {
  transform: translateX(0);
}
