.glow{
  transition: text-shadow 0.1s ease-in-out;
}
.glow:hover {
  text-shadow:  0 0 3px rgba(255, 255, 255, 0.5),
                0 0 6px rgba(255, 255, 255, 0.3),
                0 0 9px rgba(255, 255, 255, 0.2); 
}
.stats{
  color: white;
  font-weight: bold;
}
.stats:hover {
  background-color: #FFFFFF; 
  color: black; 
  border-color: #E0E0E0; 
}

.divContainer {
  background-color: rgba(16, 16, 16, 0.5);
  padding: 8px; 
  width: 45%;
  margin-right: 8px; 
  margin-bottom: 8px; 
  color: rgba(255, 255, 255, 0.75);
  transition: background-color 0.2s, color 0.5s;
}

.divContainer img {
  filter: none;
  transition: filter 0.2s;
}


.divContainer:hover {
  background-color: white;
  color: black;
}

.divContainer:hover img {
  filter: grayscale(100%) brightness(0);
}
